/* Small device: up to 576 px

Large Device: above 992 px */
@media  screen and (min-width:992) {
    
}

/* Medium Device: 576px to 992 px (Optional)*/
@media screen and (max-width:991px){

    .navber{
    padding: 16px 80px;
}
.hero-container {
  width: 200px;
  height: 200px;

}
/* about section  */
.content{
    margin: 0px 80px;
}
.rating h2{
    font-size: 2rem;
    
}
/* choose section  */
.choose-section{
    padding: 50px;

}
.choose-section h1{
    font-size: 35px;
}
.content-choose{
    display: flex;
    flex-direction: column;
}
/* feature section  */
.flex-video{
    flex-direction: column;
}
.feature-section h1{
    font-size: 35px;
}
/* host section  */
.host{
    flex-direction: column;
    
}
.host-section{
    text-align: center;
}
.host-section h1{
    font-size: 35px;
}
}


/* smalldevice */
@media screen and (max-width:576px) {
    .navber{
    padding: 16px 20px;
}

/* about section  */
.content h1{
    font-size: 38px;
}
.rate{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.content{
    margin: 0px 40px;
}

.feature-section{
    padding: 30px;
}
.host-section{
    padding: 30px;
}
}

