/* Small device: up to 576 px

Large Device: above 992 px */
@media  screen and (min-width:992) {
    
}

/* Medium Device: 576px to 992 px (Optional)*/
@media screen and (max-width:991px){

    .navber{
    padding: 16px 80px;
}
.hero-container {
  width: 200px;
  height: 200px;

}


/* smalldevice */
@media screen and (max-width:576px) {
    .navber{
    padding: 16px 20px;
}
.content h1{
    font-size: 38px;
}
}