*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}
.content{
    margin: 0px 200px;
}

.gradient{
    background: linear-gradient(to right, yellow, rgb(234, 49, 166), rgb(111, 0, 128));

}
.gradient-txt{
    background: linear-gradient(to right, yellow, rgb(234, 49, 166), rgb(182, 41, 203));
     -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
}

.navber{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #412567;
    padding: 16px 200px;
}

.logo{
    font-size: 40px;
    font-weight: 600px;
}
.link a{
    text-decoration: none;
    padding-left: 30px;
}
.btn{
    padding: 10px 20px;
    border-radius: 1000px;
    border: none;
}

/* hero section  */
.hero-section{
    background-image: url("assets/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.hero-container {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('assets/hero-circle.png') no-repeat center/cover;
  margin-bottom: 30px;
}
.hero-container img {
  max-width: 50%;
  height: auto;
}

/* about section  */
#about-section{
    background-color: #1A0B2E;
}
.about{
    text-align: center;
}
.about h1{
    -webkit-flow-into: 48px;
    padding-bottom: 16px;
}
.about p{
    padding-bottom: 16px;
}
.rate{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 60px;

}
.rating *{
    color: rgb(50, 197, 30);
}
.rating h2{
    font-size: 3rem;
}
/* chosse section  */

.choose-section{
    background-color: #230E3D;
    padding: 100px;
    padding-top: 60px;
    padding-bottom: 50px;

}
.choose-section h1{
    padding-bottom: 40px;
    font-size: 48px;
     text-align: center;
}
.content-choose{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,auto);
    gap: 30px 30px;
    
}
.choose-box{
    background-color: #351165;
    padding: 30px;
    border-radius: 40px;
    align-content: center;
}
.choose-box h3{
    padding-bottom: 16px;
    padding-top: 20px;
    font-size: 28px;
}
.box-1{
    grid-column: span 1;
    grid-row: span 2;
}
.box-2{
    grid-column: span 2;
    grid-row: span 1;
}
.box-3{
    grid-column: span 2;
    grid-row: span 1;
}
.box-4{
    grid-column: span 2;
    grid-row: span 1;
}
.box-5{
    grid-column: span 1;
    grid-row: span 1;
}

/* feature section  */

.feature-section{
    padding: 100px;
    padding-top: 60px;
    padding-bottom: 50px;
}
.feature-section h1{
    font-size: 48px;
    text-align: center;
    padding-bottom: 30px;
}
.flex-video{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    
    
}
.video{
    /* border: 1px solid white; */
    background-color: #351165;
    border-radius: 20px;
}

.video h3{
    font-size: 22px;
    padding: 20px;
}
.video p{
    padding: 0px 20px 20px 20px;
}

/* host section  */
.host-section{
    background-color: #1A0B2E;
    padding: 100px;
    padding-top: 0px;
    padding-bottom: 50px;
}
.host-section h1{
    font-size: 48px;
    text-align: center;
    padding-bottom: 40px;
}
.host{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #351165;
    padding: 30px;
    border-radius: 20px;
}
.host-content h3{
    font-size: 25px;
    padding-bottom: 20px;
}
.host-content p{
    padding-bottom: 20px;
}
.icon img{
    border: 2px solid rgb(162, 124, 198);
    border-radius: 100px;
    padding:  10px;
    margin-right: 10px;
}
footer{
    text-align: center;
    padding: 60px;
    background: url('assets/footer-bg.png') ;
    background-repeat: no-repeat;
    width: 100%;
    height: 300px;
    background-size: cover;  
    background-position: center; 
    /* margin-bottom: 50px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer h1{
    font-size: 48px;
    padding-bottom: 20px;
}
.footer-icon {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding-bottom: 20px;
}
